.tree {
  width: 100%;
  cursor: move !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tree input {
  outline: none;
  cursor: move;
  pointer-events: none;
  display: flex;
}
.tree input::placeholder {
  color: var(--dark-gray);
}
.tree p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.dashed {
  background: #fff;
  border: 1px dashed var(--light-gray);
  padding: 10px;
  display: inline-flex !important;
}

.solid {
  border: none;
  padding: 10px;
  display: inline-flex !important;
}
